[Desktop Entry]
Name=OpenProtonSync
Comment=Sync local directories to Proton Drive cloud storage
Exec=openprotonsync
Icon=io.github.robje007.OpenProtonSync
Type=Application
Terminal=true
Categories=Utility;Network;FileTransfer;
